<div class="container">
  <app-header [title]="'My prayers'"></app-header>
  <div class="main">
    <mat-nav-list>
      <mat-list-item *ngFor="let prayer of myPrayers">
        <h4 mat-line>{{prayer.message  | slice:0:50}}</h4>
        <p mat-line class="prayer-stat-line">
          <span><i class="fas fa-praying-hands"></i> {{prayer.prayCount}}</span>
          <span><i class="far fa-calendar"></i> {{prayer.createdAt | ago}}</span>
        </p>
        <button mat-icon-button (click)="openCloseDialog(prayer.id)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </div>
  <footer class="footer">
    <app-create-prayer-button [groups]="groups" (createdPrayer)="loadMyPrayers();"></app-create-prayer-button>
    <app-pray-button [groupIds]="groupIds"></app-pray-button>
  </footer>
</div>
