<div class="container">
  <app-header [title]="group.name"></app-header>
  <div class="main">
    <mat-nav-list>
      <mat-list-item *ngFor="let prayer of prayers" (click)="openPrayDialog(prayer)">
        <h4 mat-line>{{prayer.message}}</h4>
        <p mat-line> {{prayer.userId | userName:members}}</p>
      </mat-list-item>
    </mat-nav-list>
  </div>
  <footer class="footer">
    <app-create-prayer-button [groups]="[group]" (createdPrayer)="loadPrayers()"></app-create-prayer-button>
    <app-pray-button [groupId]="groupId"></app-pray-button>
  </footer>
</div>
