<div class="container">
  <app-header [title]="'Értesítések'"></app-header>
  <app-empty-placeholder class="main" *ngIf="notifications.length === 0"
                         [text]="'Jelenleg nincsenek értesítéseid.'"></app-empty-placeholder>
  <div class="main" *ngIf="notifications.length !== 0">
    <mat-nav-list>
      <mat-list-item
        *ngFor="let notification of notifications"
        [ngClass]="{'new': !notification.meta.isRead}"
        (click)="read(notification)"
        [ngSwitch]="notification.meta.notificationType">
        <h4 mat-line *ngSwitchCase="'PRAYER_CLOSE_FEEDBACK'">
          <b>{{notification.message!.userName}}</b> {{notification.message.feedback}}</h4>

        <h4 mat-line *ngSwitchCase="'PRAYER_CREATED'">
          <b>{{notification.message!.userName}}</b> Új imát kért!
        </h4>

        <p mat-line class="date-line">
          <span><i class="far fa-calendar"></i> {{notification.createdAt | ago}}</span>
        </p>
        <button mat-icon-button (click)="delete(notification.id)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>
