<h1 mat-dialog-title>Imaszándék lezárása</h1>
<div mat-dialog-content style="overflow: unset; padding-bottom: 10px">
  <mat-form-field>
    <textarea matInput
              cdkFocusInitial
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="10"
              [(ngModel)]="message"></textarea>
    <mat-hint>Üzenet azoknak akik imádkoztak ezért a szándékért</mat-hint>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close(false)">Mégse</button>
  <button mat-button (click)="close(true)">Lezárás</button>
</div>
